<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <!--RUN X64 | RUN X64 | RUN X64 | RUN X64 | RUN X64 | RUN X64 | RUN X64 | RUN X64 | RUN X64 | RUN X64 | RUN X64 | RUN X64 | RUN X64 | RUN X64 | RUN X64 | RUN X64 | RUN X64 | RUN X64-->

    <!--[BEGIN] SERVICE INFO-->
    <add key="ServiceName" value="TN.Tollcollection.ALPR"/>
    <add key="ServiceDisplayName" value="TN.Tollcollection.ALPR"/>
    <add key="ServiceDescription" value="TN.Tollcollection.ALPR"/>
    <!--[END] SERVICE INFO-->


    <!--[BEGIN] PATH PICTURE-->
    <add key="MediaFolderLpn" value="D:\DATA_GSTP\Lpn\"/>
    <add key="MediaFolderLane" value="D:\DATA_GSTP\Lane\"/>
    <!--[END] PATH PICTURE-->

    
    <!--[BEGIN] SOCKET CONFIG-->
    <!--ALPR SERVICE LISTEN FROM MTC SERVER-->
    <!--<add key="ServerIp" value="192.168.2.85"/>-->
    <add key="ServerIp" value="172.17.0.1"/>
    <add key="ServerPort" value="9000"/>

    <!-- LANE | PC IP | CAMERA LPN IP | CAMERA LANE IP (1) | USERNAME (1) | PASSWORD (1) -->
    <!--Cấu hình lane sẽ đọc từ file. Cấu hình sẽ chỉ đọc  từ app config khi file chưa tồn tại-->
	  
    <add key="LaneConfig" value="L2|192.168.2.74||123.25.243.161|root|trinam@123;L3|192.168.2.96|123.25.243.161|123.25.243.161|root|trinam@123;L4|192.168.1.55|123.25.243.161|123.25.243.161|root|trinam@123"/>
    <add key="ClientPort" value="9001"/>
    <!--[END] SOCKET CONFIG-->

    <!--MODE DETECT-->
    <!--+===============+-->
    <!--|  0 : ARH      |-->
    <!--|  1 : PARK_POW |-->
    <!--|  2 : ALL      |-->
    <!--+===============+-->
    <add key="ModeDetect" value="1"/>

    <!--TYPE CAMERA-->
    <!--+===============+-->
    <!--| 0 : AXIS      |-->
    <!--| 1 : HIKVISON  |-->
    <!--+===============+-->
    <add key="TypeCamera" value="1"/>

    <add key="ConfigCaptureLane" value="0|L2,L3,L4,L5;1|L1"/>

    <!--[BEGIN] URL SNAPSHOT-->
    <!--URL Chụp ảnh biển số-->
    <add key="CaptureLpn" value="http://{IpCameraLpn}:84/scapture"/>

    <!--URL Chụp ảnh làn Camera Hikvision-->
    <add key="HikCaptureLane" value="http://{IpCameraLane}/ISAPI/Streaming/channels/1/picture"/>
    <!--URL Chụp ảnh làn Camera Axis-->
    <add key="AxisCaptureLane" value="http://{IpCameraLane}:82/axis-cgi/jpg/image.cgi"/>

    <!--[END] URL SNAPSHOT-->

    <!--URL API PLATE RECOGNIZER-->
	<add key="ApiPlateRecognizerEntity" value="http://14.225.3.34:9988/v1/plate-reader/?regions=vn&amp;mmc=true"/>
    <add key="TokenPP" value="Token b7d04eb4e75ba3b72f9e367737f0a763a0632e97"/>

    <!--MODE INFO -->
    <!--+====================================+-->
    <!--|    0 : NOT LOCATION PLATE & MMC    |-->
    <!--|    1 : LOCATION PLATE              |-->
    <!--|    2 : MMC                         |-->
    <!--|    3 : LOCATION PLATE & MMC        |-->
    <!--+====================================+-->
    <add key="ModeInfo" value="3"/> 

    <!--MODE SIMULATOR -->
    <!--Copy thư mục ảnh DATA_GSTP vào ổ D để hiển thị ảnh -->
    <!--+===============+-->
    <!--|    0 : OFF    |-->
    <!--|    1 : ON     |-->
    <!--+===============+-->
    <add key="ModeSimulator" value="0"/>

    <!--MODE TRẢ VỀ FULL PATH ẢNH -->
    <!--ON/OFF trả về full path ảnh trong image-->
    <!--+=================================+-->
    <!--|    0 : OFF - PM Cũ  - THAIDQ    |-->
    <!--|    1 : ON  - PM Mới - TUNGDM    |-->
    <!--+=================================+-->
    <add key="ModeFullImagePath" value="1"/>

    <!-- Thời gian chờ thêm để xử lý cam biển số -->
    <add key="ProcessTimeout" value="100"/>

    <add key="TimeOutLane" value="500"/>

    <!--Mode sử dụng fix biển số mới hay cũ-->
    <!--+===============+-->
    <!--|    0 : OLD    |-->
    <!--|    1 : NEW    |-->
    <!--+===============+-->
    <add key="ModeProcessPlate" value="1"/>

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
